@charset "UTF-8";

@media screen and (min-width: 600px) {

    header{
        height: 320px;
        background-size: contain;
        
    }

    h1{
        background-color:  rgb(2, 62, 102);
        margin-top: 45px;
        margin-bottom: 15px;
    }

    h3{
    

    }

    nav {
        height: 60px;
    }   

    section#desc{
        width: 50%;
    }

    main{
        display: flex;
    }

    section#foto{
        display: flex;
        flex-direction: column;
        width: 45%;
                
    }

    section#foto > h2{
        
        font-size: 2.5em;
    }

    section#desc{
        padding: 15px;
    }

    img#cidade{
        width: 65%;
        height: 450px;
    }

    div#naruto{
        display: flex;
    }
    
}