@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gagalin';
    src: url('fontes/Gagalin-Regular.otf') format('truetype'); /* Ajuste o caminho se necessário */
    font-weight: normal;
    font-style: normal;
}

body{
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(hd-stone-texture-131613998504.jpg);
    font-family: 'Gagalin', sans-serif;
    backdrop-filter: blur(5px);
}

h1,h2{
    font-weight: bold;
    color: white;
    font-size: 1.6em;
    letter-spacing: 3px;
}

main#caixa-principal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background-image: url('hd-stone-texture-131613998504.jpg');
    box-shadow: 0px 0px 25px rgba(2, 2, 2, 0.795);
}

input{
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    outline: none;
}

button{
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(78, 78, 78);
    color: white;
    cursor: pointer;
}

section#confrontos-sorteados{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

section#folhadenomes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
    margin-top: 20px;
    min-width: 300px;
    columns: 2;
    background-color: rgba(255, 255, 255, 0.623);
    min-height: 280px;
    padding: 10px;
    border-radius: 20px;
}

img{
    width: 40px;
}

div.sorteio-nome{
    background-color: rgba(255, 255, 255, 0.384);
    min-width: 140px;
    height: 80px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

